<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="fm" action="/f1.html/" method="post">
    <p>{{ obj.username }}{{ obj.errors.username.0 }}</p>
    <p>{{ obj.pwd }}{{ obj.errors.pwd.0 }}</p>
    <p>{{ obj.email }}{{ obj.errors.email.0 }}</p>
    <p>{{ obj.age }}{{ obj.errors.age.0 }}</p>
    <input type="submit" value="提交">
    <input type="button" value="Ajax提交" onclick="submitAjaxForm();">
</form>

<script src="/static/js/jquery-3.1.1.js"></script>
<script>
    function submitAjaxForm() {
        $.ajax({
            url:'/f1.html/',
            type:'POST',
            data:$('#fm').serialize(),
            success:function (arg) {
                console.log(arg);
            }
        })
    }
</script>
</body>
</html>